<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offest-1">
        <input class="inputCard" type="checkbox" id="card1" />
        <div class="card-flip">
          <div class="flip">
            <div class="front">
              <!-- front content -->
              <div class="card">
                <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;"
                  data-holder-rendered="true">
                <div class="card-block">
                  <h4 class="card-title">Card Flip</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <label for="card1" class="btn btn-primary"><i class="fa fa-mail-forward"></i> Flip</label>
              </div>
            </div>
            <div class="back">
              <!-- back content -->
              <div class="card">
                <div class="card-block">
                  <h4 class="card-title">Card Flip</h4>
                  <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
                <div class="card-block">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <label for="card1" class="btn btn-primary"><i class="fa fa-mail-reply"></i> Flip</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
